@model List<Sindicato_v1.Models.ViewModels.SelectAgremiadosViewModel>

@{
    ViewBag.Title = "Agremiados";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" type="text/css" />

<br>
<br>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#inicio">SIICE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Agremiado/Agremiados">Agremiados</a></li>
                <li><a href="~/Deducciones/BusquedaDeduccion">Deducciones</a></li>
                <li><a href="">Noticias - Foro</a></li>
                <li><a href="~/Gestiones/Gestiones">Gestiones</a></li>
                <li><a>Hola, @ViewData["Nombre"] @ViewData["Apellido"]</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb">
    <li><a href="/Home/Index/">Inicio</a></li>
    <li><a href="/Usuario/Administrador/">Administrativo</a></li>
    <li>Agremiados</li>
</ul>

<div>
    <h2>Agremiados</h2>
    <h5>Lista de las personas agremiadas al sindicato</h5>
</div>

<hr class="hr-custom" />

@using (Html.BeginForm("Agremiados", "Agremiado", FormMethod.Post))
{
    <div id="errores">
        <h4>Ingrese el número de cédula  del agremiado que desee consultar:</h4>
        @Html.TextBox("cedula", "", new { @class = "validate[custom[onlyNumberSp]]" })
        <button type="submit">Buscar</button>
    </div>
}

@if (Model != null)
{
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                        <th>Puesto</th>
                        <th>Profesión</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var agremiado in Model)
                    {
                        <tr>
                            <th>@agremiado.cedula</th>
                            <td>@agremiado.nombre</td>
                            <td>@agremiado.primer_Apellido</td>
                            <td>@agremiado.segundo_Apellido </td>
                            <td>@agremiado.telefono</td>
                            <td>@agremiado.correo_Electronico</td>
                            <td>@agremiado.puesto</td>
                            <td>@agremiado.profesion</td>
                            <td>
                                <a class="btn btn-default" href="@agremiado.cedula" style="width:80px; height:35px">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validationEngine-en.js"></script>
<script src="~/Scripts/jquery.validationEngine.js"></script>
<script>
    $(document).ready(function () {
        $("#errores").validationEngine();

    });

    $("#errores").validationEngine({ promptPosition: "topleft:-100" });
</script>
<script>
    jQuery(document).ready(function () {
        jQuery("#errores").validationEngine();
    });
</script>

