@model Sindicato_v1.Models.ViewModels.AddAgremiadoViewModel

@{
    ViewBag.Title = "Nuevo Agremiado";
}

<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" type="text/css" />

<br>
<br>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index/">SIICE</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Agremiado/Agremiados">Agremiados</a></li>
                <li><a href="~/Deducciones/BusquedaDeduccion">Deducciones</a></li>
                <li><a href="">Noticias - Foro</a></li>
                <li><a href="~/Gestiones/Gestiones">Gestiones</a></li>
                <li><a>Hola, @ViewData["Nombre"] @ViewData["Apellido"]</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="breadcrumb">
    <li><a href="/Home/Index/">Inicio</a></li>
    <li><a href="/Usuario/Administrador/">Administrativo</a></li>
    <li>Registro de Empleado</li>
</ul>

<div>
    <h2>Registro de usuario</h2>
    <h5>Ingrese la información en su respectivo campo</h5>
</div>

<hr class="hr-custom">

@using (Html.BeginForm("Registro", "Registro", FormMethod.Post))
{
    <div class="row" id="errores">
        <div class="col-md-12">

            <br />
            <h3 style="text-align:center;">Información personal básica</h3>
            <hr />
            <br />

            <div>
                @Html.LabelFor(e => e.cedula)
                @Html.TextBoxFor(e => e.cedula, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.cedula, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.nombre)
                @Html.TextBoxFor(e => e.nombre, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.nombre, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.primer_apellido)
                @Html.TextBoxFor(e => e.primer_apellido, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.primer_apellido, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.segundo_apellido)
                @Html.TextBoxFor(e => e.segundo_apellido, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.nombre, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.Genero)
                <br />
                @Html.DropDownList("genero", new List<SelectListItem>
                {
                    new SelectListItem{ Text = "Femenino"},
                    new SelectListItem{ Text = "Masculino"}
                }, "---Seleccione género---", new { @class = "form-control validate[required]" })
                @Html.ValidationMessageFor(e => e.Genero, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.nacionalidad)
                @Html.TextBoxFor(e => e.nacionalidad, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.nacionalidad, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.id_ECivil)
                <br />
                @Html.DropDownListFor(d => d.id_ECivil, ViewBag.EstadoCivilList as SelectList, "Seleccione estado civil", new { @class = "form-control validate[required]" })
                <br />
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.fecha_Nac)
                @Html.EditorFor(e => e.fecha_Nac, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.fecha_Nac, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.Telefono)
                @Html.TextBoxFor(e => e.Telefono, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.Telefono, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.Direccion)
                @Html.TextBoxFor(e => e.Direccion, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.Direccion, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.correo_Electronico)
                @Html.TextBoxFor(e => e.correo_Electronico, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.correo_Electronico, null, new { @class = "text-danger" })
            </div>

            <br />
            <h3 style="text-align:center;">Información de usuario</h3>
            <hr class="hr-custom" />
            <br />

            <div>
                @Html.LabelFor(e => e.contrasenia)
                @Html.TextBoxFor(e => e.contrasenia, "", new { @class = "form-control ", @type = "password" })
                @Html.ValidationMessageFor(e => e.contrasenia, null, new { @class = "text-danger" })
            </div>
            <br />

            <h3 style="text-align:center;">Información del empleado</h3>
            <hr />
            <br />

            <div>
                @Html.LabelFor(d => d.id_Departamento)
                <br />
                @Html.DropDownListFor(d => d.id_Departamento, ViewBag.DepList as SelectList, "Seleccione departamento", new { @class = "form-control validate[required]" })
                <br />
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.profesion)
                @Html.TextBoxFor(e => e.profesion, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.profesion, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.colegio_Pro)
                @Html.TextBoxFor(e => e.colegio_Pro, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.colegio_Pro, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.puesto)
                @Html.TextBoxFor(e => e.puesto, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.puesto, null, new { @class = "text-danger" })
            </div>
            <br />
            <div>
                @Html.LabelFor(e => e.gra_Academico)
                @Html.TextBoxFor(e => e.gra_Academico, "", new { @class = "form-control " })
                @Html.ValidationMessageFor(e => e.gra_Academico, null, new { @class = "text-danger" })
            </div>
            <br />
            <div style="text-align: right">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>

        </div>
    </div>
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validationEngine-en.js"></script>
<script src="~/Scripts/jquery.validationEngine.js"></script>
<script>
    $(document).ready(function () {
        $("#errores").validationEngine();

    });

    $("#errores").validationEngine({ promptPosition: "topleft:-100" });
</script>
<script>
    jQuery(document).ready(function () {
        jQuery("#errores").validationEngine();
    });
</script>



