<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/smooth-scrolling.js"></script>
    <script src="~/Scripts/show-hide.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/clock.js"></script>
    <script src="~/Scripts/reportes_agr.js"></script>
    <script src="~/Scripts/reportes_ded.js"></script>
    <script src="~/Scripts/script-custom-calendar.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr class="hr-custom" />
        <footer>
            <p>&copy; @DateTime.Now.Year - SIICE V1.0</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- qTip -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />

    <!-- Full Calendar -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print" />

    @*Custom
        @Styles.Render("~/Content/css/custom-style")*@

    <!-- Include moment-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- qTip -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <!-- Full Calendar -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    @*@Scripts.Render("~/bundles/Script-calendar")*@

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {

            // Proxy created on the fly
            var not = $.connection.notificationsHub;

            // Declare a function on the job hub so the server can invoke it
            not.client.displayNotifications = function () {
                getData();
            };

            // Start the connection
            $.connection.hub.start();
            getData();
        });

        function getData() {
            var $tbl = $('#tblInfo');
            $.ajax({
                url: $("#Get").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $tbl.empty();

                    $.each(data.listNoti, function (i, model) {
                        $tbl.append
                            (
                                '<tr>' +
                                '<td>' + model.Cedula + '</td>' +
                                '<td>' + model.Nombre + '</td>' +
                                '<td>' + model.Apellido + '</td>' +
                                '<td>' +
                                '<a class="btn btn-default" href="" style="width:80px; height:35px" >☑</a > ' +
                                '<a class="btn btn-warning" href="" style="width:80px; height:35px">✖</a>' +
                                '</td>' +
                                '<tr>'
                            );
                    });
                }
            });
        }
    </script>

    <script>
        $(window).scroll(function () {
            var winScrollTop = $(window).scrollTop();
            var winHeight = $(window).height();
            var floaterHeight = $('#floater').outerHeight(true);
            //true so the function takes margins into account
            var fromBottom = 20;

            var top = winScrollTop + winHeight - floaterHeight - fromBottom;
            $('#floater').css({ 'top': top + 'px' });
        });
    </script>
</body>
</html>
